.articlesMenu{
	left: 104px;
}
.loginButton{
	float : right;
}

.loginButton a span {
	font-size: 1.5em;
	color: #FFF;
	padding: 8px 8px 0 8px;
}
.loginButton a:hover{
	color : #FFF;
	background-color:#4C4C4C ;
}

.nav-tabs {
    margin-bottom: 15px;
}
.sign-with {
    margin-top: 25px;
    padding: 20px;
}
div#OR {
    height: 30px;
    width: 30px;
    border: 1px solid #C2C2C2;
    border-radius: 50%;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    float: right;
    position: absolute;
    right: -16px;
    top: 40%;
    z-index: 1;
    background: #DFDFDF;
}
//fix bug open modal of bootstrap
html .modalOpen{	
  overflow: hidden;
  height: 100%;
}

.yboxColor{
    background-color : #EDAA1E;
}
.loginButton:hover #menu_child{
    display: block;
}
.userMenu{
    background-color: #f6f5f2;
    position: absolute;
    left: 104px;    
}
.userName {
    color: #333;
    cursor: auto;    
    font-size: 24px;
    font-weight: bold;    
    line-height: 35.56px;
    text-decoration: uppercase;
}

.userAbout{    
    color: #555;
    display: block;    
    font-size: 18 px;
    height: 120px;
    line-height: 1.5em;
    margin: 0 0  16px 0;    
    max-width: 750px;
    min-height: 5px;    
}

ul.profile-stats {
    border-bottom: 0;
    margin-bottom: 0;
    margin-top: 30px;
}

ul.profile-stats {
    text-transform: uppercase;
    color: #aaa;
    font-weight: normal;
    font-size: 10px;
    font-size: 1rem;
    list-style: none;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin: 0;       
    padding: 10px 0;
}

ul.profile-stats li em {
    display: block;
    font-style: normal;
    font-weight: bold;
    color: #7fc04c;
    font-size: 56px;    
    line-height: 1;
}
ul.profile-stats li:nth-child(1),  ul.profile-stats li:nth-child(2) {
    border-bottom: 1px dotted #ccc;
}
ul.profile-stats li {
    padding: 12px 0;
    margin: 0;
    width: 50%;
    float: left;
}
.form-group {
    margin-bottom: 15px;
}
.updateButton {
    margin-bottom: 40px;
}
