.articlesMenu{
	left: 104px;
}
.loginButton{
	float : right;
	font-size: 1.5em;
}

.loginButton a {
	
	color: #FFF;
	padding: 8px 8px 0 8px;
}
.loginButton a:hover{
	color : #FFF;
	background-color:#4C4C4C ;
}

.nav-tabs {
    margin-bottom: 15px;
}
.sign-with {
    margin-top: 25px;
    padding: 20px;
}
div#OR {
    height: 30px;
    width: 30px;
    border: 1px solid #C2C2C2;
    border-radius: 50%;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    float: right;
    position: absolute;
    right: -16px;
    top: 40%;
    z-index: 1;
    background: #DFDFDF;
}
//fix bug open modal of bootstrap
html {	
  overflow: hidden;
  height: 100%;
}
.yboxColor{
    background-color : #EDAA1E;
}
.loginButton:hover #menu_child{
    display: block;
}
.userMenu{
    background-color: #f6f5f2;
    position: absolute;
    left: 104px;    
}
.userName {
    color: #333;
    cursor: auto;    
    font-size: 2em;
    font-weight: bold;    
    line-height: 35.56px;
    text-decoration: uppercase;
}

.userAbout{    
    color: #555;
    display: block;    
    font-size: 0.7em;
    height: 120px;
    line-height: 1.5em;
    margin: 0 0  16px 0;    
    max-width: 750px;
    min-height: 5px;    
}